.my-game ::deep .fish-1 {
    animation: fish-1-animation 7s linear infinite;
    transform-origin: center center;
    will-change: transform;
}

@keyframes fish-1-animation {
    0% {
        transform: translateX(0) scaleX(1);
    }

    49.999% {
        transform: translateX(calc(480px - 102px)) scaleX(1);
    }

    50% {
        transform: translateX(calc(480px - 102px)) scaleX(-1);
    }

    99.999% {
        transform: translateX(0) scaleX(-1);
    }

    100% {
        transform: translateX(0) scaleX(1);
    }
}
