@page "/aqua"
@layout EmptyLayout

<PageTitle>Test Aqua</PageTitle>

<div class="my-game">

    <UeDisplay Class="my-screen"
               Width="480"
               Height="270"
               KeepLandscape="true"
               ImageRenderingMode="UeImageRenderingMode.Pixelated"
               ViewportBackground="#001018"
               Style="background:#001a26;">

        <UeGroup Class="layer-background">
            <UeImage X="0" Y="0"
                     Width="480" Height="270"
                     Src="/img/aqua/aqua-back.png"
                     Alt="Aqua background" />
        </UeGroup>

        <UeGroup Class="layer-fish">
            <UeImage Class="fish-1"
                     X="0" Y="130"
                     Width="102" Height="42"
                     Src="/img/aqua/aqua-fish-1.png"
                     Alt="Aqua fish" />
        </UeGroup>

        <UeGroup Class="layer-foreground">
            <UeImage X="0" Y="0"
                     Width="480" Height="270"
                     Src="/img/aqua/aqua-front.png"
                     Alt="Aqua foreground" />
        </UeGroup>
    </UeDisplay>
</div>
