@page "/hero-frame"
@layout EmptyLayout

<PageTitle>Hero Frame</PageTitle>

<div class="my-game">
    <UeDisplay Class="my-screen" Width="640" Height="360"
               KeepLandscape="true" ImageRenderingMode="UeImageRenderingMode.Pixelated"
               ViewportBackground="#001018" Style="background:#001a26;">

        <UeSpriteSheet Src="/img/slug/slug-walk.png" X="290" Y="100" Frame="@Frame"FrameWidth="56" FrameHeight="56" Columns="4" FrameCount="4" Alt="Hero sprite controlled by buttons" />

        <UeGroup X="275" Y="150" style="color:white;">
             Current frame:
            <FluentBadge Appearance="Appearance.Accent">@Frame</FluentBadge>
        </UeGroup>

        <UeGroup X="275" Y="200">
            <FluentButton @onclick="DecreaseFrame">Back</FluentButton>
            <FluentButton @onclick="IncreaseFrame">Next</FluentButton>
        </UeGroup>

    </UeDisplay>

</div>

@code {

    int Frame = 1;

    void IncreaseFrame()
    {
        Frame = SwitchFrame(Frame + 1);
    }

    void DecreaseFrame()
    {
        Frame = SwitchFrame(Frame - 1);
    }

    int SwitchFrame(int frame)
    {
        if (frame > 4)
        {
            return 1;
        }

        if (frame < 1)
        {
            return 4;
        }

        return frame;
    }
}
