@page "/hero-frame"
@layout EmptyLayout

<PageTitle>Hero Frame</PageTitle>

<div class="my-game">
    <UeDisplay Class="my-screen" Width="640" Height="360"
               KeepLandscape="true" ImageRenderingMode="UeImageRenderingMode.Pixelated"
               ViewportBackground="#001018" Style="background:#001a26;">

        <UeSpriteSheet Src="/img/slug/slug-rotate.png" X="290" Y="100" Frame="@Frame"FrameWidth="56" FrameHeight="56" Columns="8" FrameCount="8" Alt="Hero sprite controlled by buttons" />

        <UeGroup X="275" Y="150" style="color:white;">
             Current frame: @Frame
        </UeGroup>

        <UeGroup X="275" Y="200">
            <FluentButton @onclick="DecreaseFrame">Left</FluentButton>
            <FluentButton @onclick="IncreaseFrame">Right</FluentButton>
        </UeGroup>

        <UeKeyInput OnKeyDown="OnKeyDown" />

    </UeDisplay>

</div>

@code {

    int Frame = 1;

    void IncreaseFrame()
    {
        Frame = CalculateFrame(Frame + 1);
    }

    void DecreaseFrame()
    {
        Frame = CalculateFrame(Frame - 1);
    }

    int CalculateFrame(int newFrame)
    {
        if (newFrame > 8) return 1;
        if (newFrame < 1) return 8;

        return newFrame;
    }
    void OnKeyDown(UeKeyInputEventArgs args)
    {
        if (args.Key == "ArrowLeft") DecreaseFrame();
        
        if (args.Key == "ArrowRight") IncreaseFrame();
    }
}
