@page "/hero"
@layout EmptyLayout

<PageTitle>Hero</PageTitle>

<div class="my-game">

    <UeDisplay Class="my-screen" Width="480" Height="270" KeepLandscape="true"
               ImageRenderingMode="UeImageRenderingMode.Pixelated"
               ViewportBackground="#001018" Style="background:#001a26;">

        <UeSpriteSheet Src="/img/slug/slug-rotate.png" X="50" Y="208" Frame="1" FrameWidth="56" FrameHeight="56" Columns="8" Alt="Muj hrdina 1" />

        <UeSpriteSheet Src="/img/pink/pink-rotate.png" X="300" Y="208" Frame="2" FrameWidth="56" FrameHeight="56" Columns="8" Alt="Muj hrdina 2" />

        <UeSpriteSheet Src="/img/slug/slug-walk.png" X="180" Y="28" Frame="4" FrameWidth="56" FrameHeight="56" Columns="4"  Alt="Muj hrdina 3" />

    </UeDisplay>
</div>
